<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddTask"
    >
    <div class="form-control">
        <label for="text">Task</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            placeholder="Add Task Text"
            [(ngModel)]="text"
        >
    </div>

    <div class="form-control">
        <label for="text">Day & Time</label>
        <input 
            type="datetime-local" 
            name="day" 
            id="day" 
            placeholder="Add Day & Time"
            [(ngModel)]="day"
            >
    </div>

    <div class="form-control">
        <label for="category">Type of Task</label>
        <select class="form-control"            
            name="category" 
            id="category"             
            [(ngModel)]="category"
        > 
            <option value=1>Home</option>
            <option value=2>Work</option>
            <option value=3>Study</option>
        </select>
    </div>


    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input 
            type="checkbox" 
            name="reminder" 
            id="reminder"
            [(ngModel)]="reminder"
        >
    </div>
    
    <input type="submit" value="Save Task" class="btn btn-block">

</form>