<div 
    class="task"
    [ngClass]="{reminder: task.reminder}"
    (dblclick)="onToggle(task)"
    [ngStyle] ="{'background-color': color }"
>
    <h3>
        {{task.text}} 
        <fa-icon
         [icon]="faTimes"
         [ngStyle]= "{'color': '#B02020'}"
         (click)="(onDelete(task))"
         id="icono"
         ></fa-icon>



    </h3>

    <div class="flex">
        <p>
            {{task.day | date: 'EEEE, dd MMMM yy, HH:mm'}}hs       
        </p>

        <fa-icon
            [icon]="faPencil"
            [ngStyle]= "{'color': 'black'}"
            (click)="(onEdit(task))"         
        ></fa-icon>
    </div>

</div>
