<div 
    class="task"
    [ngClass]="{reminder: task.reminder}"
    (dblclick)="onToggle(task)"
    [ngStyle] ="{'background-color': color }"
>
    <h3>
        {{task.text}} 
        <fa-icon
         [icon]="faTimes"
         [ngStyle]= "{'color': '#B02020'}"
         (click)="(onDelete(task))"
         id="icono"
         ></fa-icon>



    </h3>

    <div class="flex">
        <p>
            {{task.day | date: 'EEEE, dd MMMM yy, HH:mm'}}hs       
        </p>
        <div class="iconos">
            <fa-icon
                [icon]="faBell"
                [ngStyle]= "{'color': '#123302'}"
                *ngIf="task.reminder"       
            ></fa-icon>


            <fa-icon
                [icon]="faPencil"
                [ngStyle]= "{'color': 'black'}"
                (click)="(onEdit())"         
            ></fa-icon>
        </div>
    </div>

</div>
